/* Estilos generales */
body {
    font-family: 'neue-haas-grotesk-display', sans-serif;
    color: #fff; /* Change text color to white */
    background-color: #000; /* Change background color to black */
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'neue-haas-grotesk-display', sans-serif;
    color: #fff; /* Change text color to white */
}

p {
    font-family: "cofo-sans-mono-variable", monospace;
    color: #fff; /* Change text color to white */
}




.about{

    color: rgba(163, 163, 163, 0.685);
}

/* Estilos del proyecto */

.about-hero {
    background-color: #1D1E1C; /* Change background color to black */
    color: #fff; /* Change text color to white */
    padding: 100px 20px;
    text-align: center;
}

.about-title {
    font-family: 'neue-haas-grotesk-display';
    font-weight: 600;
    font-size: 70px;
    text-align: left; /* Justifica el título a la izquierda */
    margin-top: 20px;
    width: 100%;
}

.overview-description{
    
    text-align: right; /* Alinea el texto a la derecha */
    margin-left: auto; /* Empuja el contenido hacia la derecha */
    margin-right: 20px; /* Espaciado desde el borde derecho */
    max-width: 50%; /* Limita el ancho del contenido */
}

.about-subtitle {
    font-family: 'neue-haas-grotesk-display';
    font-weight: 400;
    font-size: 24px;
    text-align: left; /* Justifica el subtítulo a la izquierda */
    margin-top: 10px;
    width: 100%;
}

.description {
    background-color: #1D1E1C; /* Fondo negro */
    color: #fff; /* Tipografía blanca */
    
    margin: 0; /* Elimina márgenes externos */
    padding: 20px; /* Agrega espacio interno */
    width: 100%; /* Asegura que la sección ocupe todo el ancho */
    box-sizing: border-box; /* Incluye padding en el ancho total */
}

.texto-about p {
    font-family: "cofo-sans-mono-variable", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6; /* Mejora la legibilidad */
    margin: 0; /* Elimina márgenes adicionales */
    color: #fff; /* Asegura que el texto sea blanco */
    max-width: 50%; /* Limita el ancho del contenido */
    margin-left: auto; /* Empuja el contenido hacia la derecha */
    margin-right: 18px; /* Espaciado desde el borde derecho */
}





/* Team Section */
.team-section {
    background-color: #1D1E1C;
    color: #FFF;
    padding: 50px 20px;
    text-align: left;
}

.team-title {
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-size: 38px;
    margin-bottom: 40px;
}
.team-arrow {
    position: relative; /* Necesario para que .team-arrow se posicione correctamente */
    right: 0; /* Mantiene la flecha en la parte derecha */
    transform: translate(120px, -60px); /* Ajusta la posición vertical hacia arriba */
}

.team-section {
    position: relative; /* Asegura que la posición absoluta de .hero-arrow sea relativa a esta sección */
    padding-bottom: 50px; /* Agrega espacio para que la flecha no se superponga al contenido */
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 0%;
    margin-bottom: 10px;
}

.member-name {
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.member-role {
    font-family: 'cofo-sans-mono-variable', monospace;    
    font-size: 14px;
    color: #AAA;
}

.icon-links {
    display: flex;
    gap: 10px; /* Space between icons */
    justify-content: center; /* Center the icons */
    margin-top: 10px; /* Space above the icons */
}

.linkedin-icon img, .mail-icon img {
    width: 24px; /* Adjust the size of the icons */
    height: 24px; /* Ensure the icons maintain their aspect ratio */
}

.linkedin-icon:hover img, .mail-icon:hover img {
    opacity: 0.8; /* Slightly dim the icon on hover for effect */
}


/* Details Section */
.about-details {
    background-color: #1D1E1C;
    color: #FFF;
    padding: 50px 20px;
}

.details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.details-item h3 {
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.details-item p {
    font-family: 'cofo-sans-mono-variable', monospace;
    font-size: 16px;
    line-height: 1.6;
}



/*service section*/

.services-section {
    padding: 50px 0;
    background-color: #f7f7f7;
}

.services-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.accordion-service {
    width: 100%; /* Full width */
    margin: 0 auto;
}

.accordion-item-service {
    border-bottom: 1px solid #ddd;
}

.accordion-button-service {
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.accordion-button-service:hover {
    background-color: #f0f0f0;
}

.accordion-content-service {
    display: none;
    padding: 15px;
    background-color: #fff;
}

.accordion-item-service.active .accordion-content-service {
    display: block;
}



@media (max-width: 768px) {
    .overview-grid,
    .content-grid {
        grid-template-columns: 1fr;
    }
    
    .project-hero {
        padding: 0; /* Elimina el padding para dispositivos móviles */
    }

    .project-title,
    .project-subtitle {
        padding: 0 10px; /* Ajusta el padding para dispositivos móviles */
    }

    .hero-image img {
        max-height: none; /* Elimina la altura máxima en dispositivos móviles */
    }

    /*galeria*/

    .gallery-grid {
        grid-template-columns: 1fr 1fr;
    }

    .gallery-item {
        grid-column: span 2 !important;
        height: auto !important;
    }
    .gallery-item video {
        width: 100%; /* Asegura que el video ocupe todo el ancho del contenedor */
        height: auto; /* Mantiene las proporciones del video */
        border-radius: 8px; /* Opcional: bordes redondeados */
        object-fit: cover; /* Asegura que el video se ajuste correctamente al contenedor */
    }
}